@model RestaurantApplication.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<p>If this booking is associated with an order, you'll not be able to delete the booking.</p>
<p>You'll have to delete the associated order before deleting the booking.</p>
<p>In this case, the deletion will not happen and you'll be taken to the main booking page.</p>
<div>
    <h4>BookingID :  @Html.DisplayFor(model => model.BookingID)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
