@model RestaurantApplication.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TableNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfOccupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
