@model RestaurantApplication.Models.BookingDto

@{
    ViewBag.Title = "Booking Status";
}

<h2>Booking Status</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.BookingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOccupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfOccupants)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

@if (Convert.ToString(Model.Status) == "Confirmed")
{
    @*@Html.ActionLink("Order Food", "ListNew", new { controller = "Food", id = Model.BookingID });*@
    <form action="/Food/ListNew" method="post">
        <input type="hidden" id="bookingId" name="bookingId" value="@Model.BookingID">
        <input type="submit" value="Order Food" />
    </form>
}
else
{
    @Html.Raw("<p>Ordering link will be shown here, once the restaurant confirms the order<p>");
}


