@model RestaurantApplication.Models.ViewModel.OrderStatusFoodDetail

@{
    ViewBag.Title = "Details";
}

<h2>Order Details</h2>

<div>
    <h4>OrderID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderIDClassDetails.OrderIDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderIDClassDetails.OrderIDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderIDClassDetails.OrderIDTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderIDClassDetails.OrderIDTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderIDClassDetails.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderIDClassDetails.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOrderAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOrderAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Order More", "List", new { controller = "Food" })
</p>
